
@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
	;

.main {
	background-color: #0a4f6b;
	color: #F8F5DF;
	border-radius: 25px;
	margin-top: 30px;
}

.grupo {
	background-color: #F8F5DF;
	color: #74664B;
	border-radius: 25px;
}

body {
	font-family: montserrat;
	color: #F8F5DF;
	background-color: #012E40;
}

.center {
	text-align: center;
}

.login {
	background-color: #F8F5DF;
	color: #74664B;
	border-radius: 25px;
}
footer{
background-color:#021c26;
}

.logout{
        color: #F8F5DF;
	background-color: #EDA77F;
	border: none;
	padding: 10px 20px;
	font-size:20px;
	border-radius: 25px;
	margin-left: 10px;
	position: absolute;
	top: 50px;
	right: 50px;
	cursor: pointer;
	justify-content: center;
        }

input[type=button]{
color: #F8F5DF;
	background-color: #012E40;
	border: none;
	padding: 10px 20px;
	font-size:20px;
	border-radius: 25px;
	margin-left: 10px;
}

.main-button{
	color: #F8F5DF;
	background-color: #012E40;
	border: none;
	padding: 10px 20px;
	font-size:20px;
	border-radius: 25px;
	margin-left: 10px;
}


input[type=text]{
margin-bottom:20px;
}

input[type=password]{
margin-bottom:20px;
}

.panel{
	background-color: #F8F5DF;
	border-radius: 25px;
	max-width: fit-content;
	margin: auto;
	margin-top: 40px;
	padding: 10px 40px 0px 40px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  border-color: #F8F5DF;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  color: #F8F5DF;
}

.flecha{
	padding-bottom:5px;
	
}

.custom-btn {
            color: #F8F5DF;
	background-color: #012E40;
	border: none;
	padding: 10px 20px;
	font-size:20px;
	border-radius: 25px;
	margin-left: 10px;
        }
        
        .custom-btn:hover {
        background-color: #095370;
        }
        
        table{
        font-size: 20px;
        width: 100%;
        }
        
        .tabs{
        background-color: #F8F5DF;
	border-radius: 25px;
	color: #74664B;
        }
        
        
        .nav-tabs .nav-item .nav-link {
  background-color: #e3e0ca;
  color: #1582ad;
}

.nav-tabs .nav-item .nav-link.active {
  color: #F8F5DF;
  background-color: #1582ad;
}
        